.container{
  display:flex;
  align-items: center;
  justify-content: center;
  padding:8.1%;
  background: linear-gradient(to right bottom,rgb(238, 219, 219),rgb(186, 186, 212));
}
.container__login-form{
  height:55vh;
  width:auto;
  display:flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding:40px;
  background: linear-gradient(#f7f7f7, #c7d6db 50%, #f7f7f7 90%);

}

.container__login-form__header{
  margin-top:-10vh;
}
.container__login-form__input{
  padding: 10px;
  margin-top:10px;
  width:16vw;
}

.container__login-form__button{
padding:10px;
margin-top:10px;
width:16vw;
cursor:pointer;
}

.container__login-form__signup-link{
  text-decoration:none;
  margin-top: 10px;
}
.container__login-form__forgot-password-link{
  text-decoration:none;
  margin-top: 10px;
}

@media only screen and (max-width: 600px) {
 
  .container__login-form{
    height:55vh;
    width:100vw;
    display:flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding:40px;
  }
  .container__login-form__header{
    margin-top:-10vh;
  }
  .container__login-form__input{
    padding: 10px;
    margin-top:10px;
    width:60vw;
  }
  
  .container__login-form__button{
  padding:10px;
  margin-top:10px;
  width:60vw;
  cursor:pointer;
  }
}